<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
      <td>{{ application.name }}</td>
      <td>{{ application.description }}</td>
      <td>
        <a class="btn btn-success" (click)="getFileUrl(application.fileName)">Download</a>
        <a class="btn btn-danger" (click)="deleteApplication(application._id)">Delete</a></td>
    </tr>
  </tbody>
</table>